/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    text-align: center;
}

.dark{
background-color: black;
color: white;
text-decoration: underline;
}

.colored{
    background-color:cornflowerblue;
    color:burlywood;
    text-decoration: underline;
    }

.img-wrapper{
    
}