/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    text-align: center;
}

.dark{
background-color: black;
color: white;
}

.colored{
    background-color:cornflowerblue;
    color:burlywood;
    text-decoration: underline;
    }

.img-wrapper{

    margin: 40px auto;
    width: 600px;
}

img{
    width: 100%;
}