<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- --- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Hello</title>
</head>


<body>

<!-- Vue Js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <div class="container" v-bind:class="titleClass">

        <h1 v-bind:class="titleClass">{{ title }}</h1>
        <h3> Benvenuta {{ students[2] }}</h3>
        

        <input type="text" v-model="name" placeholder="quel che scrivo qui andrà a cmabiare il valore della mia chiave in data">
        <br>
        <p>Per applicare la classe "colori", scrivi "colori" all'interno dell' input</p>
        <input type="text" v-model="titleClass" placeholder="colori">
        <br>
        <br>
        <p>Il tuo nome è {{ name }}</p>
        <br>
        <br>
        <p>{{ message }}</p>
        <br>
        <br>
        <div class="img-wrapper">
            <img v-bind:src=" imageUrl">
        </div>
        <button @click="changeMessage">Cambia messaggio</button>
    </div>












</div>
<script type="text/javascript" src="js/script.js"></script>  
</body>
</html>