<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- --- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Hello</title>
</head>


<body>

<!-- Vue Js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <div class="container" v-bind:class="titleClass">

        <h1 v-bind:class="titleClass" @click="changeTitle">{{ title }}</h1>

        <!-- test
        <h3> Benvenuta {{ students[2] }}</h3> -->
        

        <input type="text" v-model="name" placeholder="Insert Name">
        <br>
        <input type="text" v-model="lastName" placeholder="Insert  Last Name">
        <br>

        <p>Per applicare lo stile, scrivi "colored" oppure "dark" all'interno dell' input</p>
        <input type="text" v-model="titleClass" placeholder="scegli dark o colored">
        <br>
        <br>

        <p>Oppure scegli qui</p>
        <select v-model="titleClass">
            <option value="dark">Dark</option>
            <option value="colored">Colored</option>
        </select>
        
        <p>Hello {{ name }} {{ lastName }}!</p>
        <br>
        <br>
        <hr>

        <button @click="changeTitle">Cambia il titolo</button>
        <br>
        <br>
        <button @click="showImg">{{ imgButton }}</button>
        <br>

        <div class="img-wrapper" v-show="imgVisible">

            <img v-bind:src=" imageUrl">
            
        </div>


        
    </div>












</div>
<script type="text/javascript" src="js/script.js"></script>  
</body>
</html>